name: Release
"on":
  push:
    tags:
      - v*.*.*
permissions:
  contents: write
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      - name: Set GOVERSION environment variable
        run: echo "GOVERSION=$(go version)" >>$GITHUB_ENV
      - name: Release via goreleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT3 }}
